body {
    width: 1981px;
    height: 844px;
    font-family: Arial, sans-serif;
    margin: 0;
}

.arrow {
    font-size: 18px;
    color: rgb(174, 185, 199);
    padding-right: 15px;
    font-weight: normal;
}

.announcements {
    font-family: Helvetica, sans-serif;
    background-color: #e2d878;
    color: #8c0304;
    padding: 8px 20px 8px;
    font-size: 30px;
    font-weight: 900;
}

.announcements-content {
    font-family: Helvetica, sans-serif;
    background-color: #f0efdc;
    padding: 20px;
    font-size: 25px;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.begging-info {
    margin-top: 40px;
    font-style: italic;
}

.discount-info {
    font-size: 28px;
    line-height: 1.5em;
}

.discount-title {
    color: #033362;
    font-size: 35px;
    font-weight: bolder;
    padding: 40px 0 30px 0;
    line-height: 1.1em;
}

.left {
    flex: 1;
    background: #033362;
}

.left-menu {
    margin: 30px 50px 0 30px;
}

.main-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.main-content {
    margin: 50px 40px 0 40px;
    display: flex;
    flex-direction: column;
}

.menu {
    color: white;
    font-size: 23px;
    border-bottom: 2px dotted white;
    font-weight: bolder;
    padding: 20px;
    margin-bottom: 5px;
}

.mid {
    flex: 2;
    background-color: #DDDDDD;
}

.right {
    flex: 1;
    background: #033362;
}

.right-menu {
    margin: 30px 50px 0 20px;
}


